div {
  border-radius:10px;
  background-color:#e7e3e3;
}
.food {
  grid-column: 1 / span 3;
}
.graph {
  grid-column: 4 / span 1;
}
.testimonial {
  grid-column: 1 / span 2;
}
.video {
  grid-column: 3 / span 2;
}