app-navbar {
    width:100%;
    display:block;
    margin:  auto;
}
app-vertical-menu {
    width:270px;
    background-color:#e7e3e3;
    display:block;
    color:#b0b0b0;
    border-radius:10px;
    margin-top:37px;
}
app-grid-container {
    display:grid;
    width:calc(100% - 280 px);
    margin-left:10px;
    grid-template-rows:repeat(4 25%);
}
.main {
    display:flex;
}