<div class="call-to-action"></div>
<div class="calendario"></div>
<div class="imagen"></div>
<div class="order"></div>
<div class="social">
    <div class="icons">
        <div class="icon-container"><i class="fab fa-twitter"></i></div>
        <div class="icon-container"><i class="fab fa-facebook-f"></i></div>
        <div class="icon-container"><i class="fab fa-dribbble"></i></div>
        <div class="icon-container"><i class="fas fa-share-alt"></i></div>
        <div class="icon-container"><i class="fas fa-share"></i></div>
    </div>
    <div class="email-inp">
        <input type="email" value="EMAIL SUBSCRIBE"><i class="fas fa-share-square input-icon"></i>
    </div>

</div>